# POSTGRES DB
DATABASE_HOST="localhost"
DATABASE_USER="db_lfmrt_user"
DATABASE_PASSWORD="db_lfmrt_password"
DATABASE_SCHEMA="lfm_release_tracker"

# DEFAULT LASTFM USER (OPTIONAL):
LASTFM_USERNAME="your-username-on-lastfm"
LASTFM_PASSWORD="your-password-on-lastfm"

# FEATURE FLAGS:
FF_GRAB_ARTIST_THUMBNAILS=False
FF_GRAB_RELEASE_COVERS=False
